.bet-wrapper {
            width: 100%;
            height: auto;
            position: relative;
            background-color: rgba(0, 0, 0, 1);
            padding-bottom: 110px;
        }

        .bet-nav {
            width: 460px;
            height: 70px;
            margin: 0 auto;
            padding-top: 30px;
            background-color: rgba(0, 0, 0, 1);
        }

        .bet-nav .bet-nav-block {
            width: 100%;
            height: 36px;
            margin-bottom: 8px;
        }

        .bet-nav .bet-nav-block p {
            width: 49%;
            text-align: center;
            font-size: 20px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            background-color: rgba(0, 0, 0, 1);
        }

        .bet-nav .bet-nav-block #allBet {
            float: left;
        }

        .bet-nav .bet-nav-block #perBet {
            float: right;
        }

        .bet-nav .bet-nav-line {
            width: 446px;
            height: 6px;
            background: rgba(51, 51, 51, 1);
            border-radius: 3px;
            margin: 0 auto;
        }

        .bet-nav .bet-nav-line #moveLine {
            width: 50%;
            height: 6px;
            background: rgba(255, 255, 255, 1);
            border-radius: 3px;
        }

        .goRight {
            transform: translate(100%, 0);
            transition: all .3s linear;
        }

        .goLeft {
            transform: translate(0, 0);
            transition: all .3s linear;
        }

        .bet-data {
            width: 70%;
            height: auto;
            margin: 0 auto;
            background: rgba(0, 0, 0, 1);
        }

        .allBet-ul {
            width: 100%;
            height: auto;
            background: rgba(0, 0, 0, 1);
            list-style: none;
        }

        .allBet-ul .allBet-list-head {
            width: 100%;
            height: auto;
            background: rgba(0, 0, 0, 1);
        }

        .allBet-ul .allBet-list-head span {
            display: inline-block;
            width: 24.5%;
            line-height: 64px;
            text-align: center;
            font-size: 20px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            border-radius: 10px;
            color: rgba(255, 255, 255, 1);
            background: rgba(0, 0, 0, 1);
        }

        .allBet-ul .allBet-list {
            width: 100%;
            height: auto;
            background: rgba(0, 0, 0, 1);
            border-radius: 10px;
        }

        .allBet-ul .allBet-list span {
            display: inline-block;
            text-align: center;
            width: 24.5%;
            line-height: 64px;
            font-size: 18px;
            font-family: MicrosoftYaHei;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0);
        }

        .allBet-ul .allBet-list p {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-size:24px;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(153,153,153,1);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0);
        }

        #noMore {
            margin-top: 115px;
            background-color: rgba(255, 255, 255, 0);
        }

        .allBet-ul .allBet-list span:last-of-type {
            color: rgba(230, 194, 28, 1);
        }

        .allBet-ul .allBet-list:nth-child(odd) {
            background: rgba(51, 51, 51, 1);
        }

        #allBet-ul {
            display: none;
        }

        #perBet-ul {
            display: block;
        }